<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">

<a routerLink="/home"class="nav-item nav-link active" style="color: white;">Home</a>
            <a routerLink="/userdetails"class="nav-item nav-link" style="color: white;">Profile</a>
            <a routerLink="/productadd" class="nav-item nav-link" style="color: white;">AddProducts</a>
            <a routerLink="/products" class="nav-item nav-link" style="color: white;">Products</a>
            <a routerLink="/contactus"class="nav-item nav-link" style="color: white;">Contact Us</a>

        </div>
        <div class="navbar-nav ml-auto">
        
                 <a routerLink="/cart" class="nav-item nav-link mr-3"><span matBadge="{{badgecounter}}" class="fa fa-shopping-cart fa-2x"></span></a>
           <a href="#"class="nav-item nav-link"><span class="fa fa-sign-out fa-2x"></span></a>
        </div>
    </div>
</nav>