<footer class="fixed-bottom">
    <div class="container-fluid">
    <div class="row">
     <div class="col-sm-4 bg-dark">
    
     <h6>Contact:9440788998</h6>
    </div>
    <div class="col-sm-7 bg-dark">
     
                
     </div>
    <div class="col-sm-1 bg-dark ml-auto">
    
   
        <i class="fa fa-instagram  ml-2 mt-2"></i>
                       
        <i class="fa fa-facebook-official ml-2 mt-2"></i>
                    
         <i class="fa fa-twitter fa-x ml-2 mt-2"></i>
    
    </div>
    </div>
    </div>
    </footer>