<app-header></app-header>
<div class="container">
    <div class="row offset-md-3">
        <div class="col" style="margin-top:80px;">
            <table class="table-responsive">
                <tr>
                    <td>
          <div class="from-group">
              <input type="text" class="form-control" placeholder="Product" [(ngModel)]="productdetails.productname">
              
            </div>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Imageurl" [(ngModel)]="productdetails.imageurl">
              </td>
          <td>
          <button style="display: inline-block;" type="button" class="btn-primary btn" (click)="addproduct()">
              Add
              </button>
              </td>
              </tr>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>