input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input
{
  width:50%;
  justify-content: center;
  text-align: center;

}
.container-fluid
{
  position: relative;
  width:80%;
  background-color: silver;
}
/* .container .form-group
{
  position:absolute;
} */