<div *ngIf="registerForm" class="container-fluid offset-md-3">
    <form [formGroup]="registerForm"  (ngSubmit)="registerForm.valid && handleSubmit()">
        <div class="row">
            <div class="col-sm-10">
                <h3>Registration Form</h3>
            </div>
        </div>
    <div class="form-group row mt-3">
        <label for="firstName"  class="col-sm-2 col-form-label mt-3">First name</label>
        <div class="col-sm-10 mt-3">
        <input 
        type="text"
        id="firstName"
        name="firstName"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('firstName').touched && 
        registerForm.get('firstName').invalid}"
        formControlName="firstName">
        <div class="invalid-feedback">
            Please enter your First name
        </div>
    </div> 
</div>
     
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Middle Name</label>
        <div class="col-sm-10">
        <input 
        type="text"
        id="middleName"
        required
        name="mddleName"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('middleName').touched&& 
        registerForm.get('middleName').invalid}"
        formControlName="middleName">
        <div class="invalid-feedback">
            Please enter your middle name
        </div>
    </div>  
</div>              
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
        <input 
        type="text"
        id="lastName"
        required
        name="lastName"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('lastName').touched&& 
        registerForm.get('lastName').invalid}"
        formControlName="lastName">
        <div class="invalid-feedback">
            Please enter your Last name
        </div>
    </div>
</div>
    <div class="form-group row">
        <label for="dateOfBirth" class="col-sm-2 col-form-label">Date Of Birth</label>
        <div class="col-sm-10">
        <input 
        type="date"
        id="dateOfBirth"
        required
        name="dateOfBirth"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('dateOfBirth').touched&& 
        registerForm.get('dateOfBirth').invalid}"
        formControlName="dateOfBirth"
        >
        <div class="invalid-feedback">
            Please enter your Date Of Birth
        </div>
    </div>
    </div>
    <div class="form-group row">
        <label for="age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
        <!-- <p></p> -->
        <!-- <p></p> -->
        <input type="text"
        [value]="ageCalculation()"
        id="age"
        disabled
        class="form-control"
        formControlName="age">
    </div>
    </div>
    <div class="form-group row">
        <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
        <input 
        type="text"
        id="mobile"
        maxlength="10"
        name="mobile"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('mobile').touched&& 
        registerForm.get('mobile').invalid}"
        formControlName="mobile">
        <div class="invalid-feedback">
            Please enter your Mobile Number
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('mobile').hasError('pattern')"  >
            Mobile number should start with either 9,8 or 7 digits only
        </div>
        <div class="invalid-feedback" *ngIf="">

        </div>
       </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email Id</label>
        <div class="col-sm-10">
        <input 
        type="email"
        id="email"
        required
        name="email"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('email').touched&& 
        registerForm.get('email').invalid}"
        formControlName="email">
        <div class="invalid-feedback">
            Please enter your Email Id
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('email').hasError('email')">
            Email must be of this format example@example.com
        </div>
    </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
        <input 
        type="password"
        id="password"
        required
        name="password"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('password').touched&& 
        registerForm.get('password').invalid}"
        formControlName="password">
        <div class="invalid-feedback">
            Please enter your password
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('pattern')">
            Password must be atleast one Uppercase letter and one special character and first character should not be a number
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')">
            Password must contain atleast 8 characters
        </div>
    </div>
</div>
    <div class="form-group row">
        <label for="confirmPassword" class="col-sm-2 col-form-label">confirm Password</label>
        <div class="col-sm-10">
        <input 
        type="password"
        id="confirmPassword"
        required
        name="confirmPassword"
        class="form-control"
        [ngClass]="{'is-invalid':registerForm.get('confirmPassword').touched&& 
        registerForm.get('confirmPassword').invalid}"
        formControlName="confirmPassword">

        <div class="invalid-feedback">
            Please enter your password again
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').value!=registerForm.get('confirmPassword').value">
            Please enter your password again
        </div>
        <div>

            <a routerLink="/userdetails"><button class="btn btn-danger mt-3"
                    type="submit"
                    appPassword
                    [disabled]="registerForm.invalid"
                    (click)="handleSubmit()"
                    >Register
            </button>
        </a>
        </div>
    
    </div>
    </div>
   
    </form>
</div>
