<app-header></app-header>
<div class="container">
    <h4>Added Products</h4>
    <div class="row">
        <div *ngFor="let detail of details; let i=index" >
            <div class="col-12 col-sm-6 col-md-4 mt-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="detail.imageurl" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">{{detail.productname}}</p>
              <div style="text-align: center;">
            </div>
          </div>
          </div>
        </div>
          </div>
    </div>
 
</div>
<app-footer></app-footer>
