<app-header></app-header>
<div class="container table-responsive mt-5">
    <div class="row offset-md-4">
        <div class="col table table-responsive">
          <table>
            <tr>
              <td class="colspan-2">
                <h4>User Details:</h4>
              </td>
            </tr>
              <tr>
                  <td>
                   First Name:
                  </td>
                  <td>
                   {{userdetails.firstName}}
                  </td>
                  </tr>
                  <tr>
                  <td>
                    Middle Name:
                  </td>
                  <td>
                    {{userdetails.middleName}}
                  </td>
                  </tr>
 
                  <tr>
                    <td>
                      Last Name:
                    </td>
                    <td>
                        {{userdetails.lastName}}
                    </td>
                    </tr>
 
                    <tr>
                        <td>
                          Date Of Birth:
                        </td>
                        <td>
                            {{userdetails.dateOfBirth}}
                        </td>
                        </tr>
 
                        <tr>
                            <td>
                              Age:
                            </td>
                            <td>
                                {{userdetails.age}}
                            </td>
                            </tr>
                            <tr>
                                <td>
                                Mobile:
                                </td>
                                <td>
                                 {{userdetails.mobile}}
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                    Email Id:
                                    </td>
                           <td>
                           {{userdetails.email}}
                          </td>
                          </tr>
 
    
          </table>
        </div>
 </div>
</div> 
<app-footer></app-footer> 