<router-outlet></router-outlet>
<!-- <app-userdetails></app-userdetails> -->
<!-- <app-registerform></app-registerform> -->
<!-- <app-productadd></app-productadd> -->
<!-- <app-contactus></app-contactus> -->