<app-header></app-header>
<div class="container">
  <div class="form-group">
    <div class="row">
      <div class="col">
    <input id="search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
    <label id="searchicon"><span class="fa fa-search"></span></label>
  </div>
    </div>
  </div>
    <div class="row">
    <div *ngFor="let detail of details | filter:filterTerm ; let b=index">
        <div class="col-12 col-sm-6 col-md-4 mt-4">
       <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="detail.imageurl" alt="product image">
        <div class="card-body">
          <p class="card-text" style="text-align: center;">{{detail.productname}}</p>
          <div style="text-align: center;">
            <button class="btn btn-primary" [disabled]="button[b].btnValue" (click)="removeProduct(detail.id)">-</button>
          <button class="btn btn-primary" *ngIf="button[b].btnValue;else elseblock" (click)="enablebtn(detail.id)">Add</button>
         <ng-template #elseblock>
           <button class="btn btn-primary" (click)="enablebtn(detail.id)">{{button[b].bcount}}</button>
         </ng-template>
          <button class="btn btn-primary" [disabled]="button[b].btnValue" (click)="addProduct(detail.id)">+</button>
 
        </div>
      </div>
      </div>
    </div>
      </div>
</div>
<app-footer></app-footer>