<app-header></app-header>
<div class="container">
    <form #userForm="ngForm" (ngSubmit)="userForm.valid && handleSubmit()">
     <div class="form-group"> 
     <label>Username:</label>      
    <input type="text" 
    required
    minlength="3"
    maxlength="15"
    placeholder="Enter username"
    id="username"
    name="username"
    class="form-control"
    [ngClass]="{'is-invalid':username.invalid && username.touched}"
    [(ngModel)]="table.username"
    #username="ngModel"
     >
     <div class="invalid-feedback">
         Username is Required
     </div>
    </div>
    <div class="form-group"> 
        <label>Email:</label>      
       <input type="email" 
       required
       placeholder="Enter Email Id"
       id="email"
       name="email"
       pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
       class="form-control"
       [ngClass]="{'is-invalid':email.invalid && email.touched}"
       [(ngModel)]="table.email"
       #email="ngModel"
        >
        <div class="invalid-feedback">
            Please enter valid Email-Id
        </div>
        <div class="invalid-feedback" *ngIf="email.error?.pattern">
            Email Id must be of format example@example.com
        </div>
       </div>
    <div class="form-group"> 
        <label>Mobile Number</label>      
       <input type="number" 
       required
       placeholder="Enter Mobile Number"
       id="mobile"
       name="mobile"
       pattern="^[987]+.*$"
       class="form-control"
       [ngClass]="{'is-invalid':mobile.invalid && mobile.touched}"
       [(ngModel)]="table.mobile"
       #mobile="ngModel"
        >
        <div class="invalid-feedback">
            Please enter your Mobile Number
        </div>
        <div class="invalid-feedback" *ngIf="mobile.errors?.pattern">
            Mobile number should start with 9,8 or 7
       </div>

    </div>
    <div>
        <button class="btn btn-primary"
                [disabled]=userForm.invalid
                type="submit"
                (click)="submit()"
        >Submit</button>
    </div>
    
    </form>
</div>
<app-footer></app-footer>
